@tailwind base;
@tailwind components;
@tailwind utilities;


html,
#container,
.inner {
    background-color: transparent;
}

html {
    background: url("../../public/perlica.jpg") center center no-repeat fixed;
    background-size: cover;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    max-width: 950px;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    text-rendering: optimizeLegibility;
    /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 300;
}

h1 {
    font-size: 2.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
}

h2 {
    font-size: 2.4rem;
    line-height: 1.3;
    letter-spacing: -.1rem;
}

h3 {
    font-size: 2.2rem;
    line-height: 1.35;
    letter-spacing: -.08rem;
}

h4 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
}

h5 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0;
}

h6 {
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: 0;
}

p {
    margin: 0 auto 1.1em auto;
    /* bottom margin for paragraphs */
    font-size: 1.0rem;
}

header,
#content,
footer {
    background: rgba(0, 0, 0, 0);
    padding: 25px;
    color: #FFFFFF;
}

.my-container {
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    padding: 25px;
}

.rounded-img {
    border-radius: 15px;
    overflow: hidden;
    height: 130px;
    width: 130px;
}